body{
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0%;
  padding: 0%;
  padding-top: 50px;
}
.navbar{
  z-index: 2;
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);

}
.addnote{
  /* background-color: #f3f4f8; */
  position: fixed;
  left: 10px;
  width: 55%;
  padding: 10px 40px;
  font-size: 18px;
}
.addnote input, .addnote textarea{
  border-width: 2px;
}
.addnote button{
  position: absolute;
  right: 40px;
  font-size: 18px;
  border-width: 1.5px;
  font-weight: 500;
}
/* add scroll bar for shownote */
.noteoverflow {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75vh;
  width: 100%;
  /* background-color: #fff; */
  margin: 0 0 10px 0;
}
/* .notedisplay::-webkit-scrollbar {
  width:10px;
}
.shownote::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgb(0, 0, 0); 
  border-radius:5px;
}
.notedisplay::-webkit-scrollbar-thumb {
  border-radius:5px;
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0); 
} */

.shownote{
  /* display: flex;
  flex-direction: row; */
  position:absolute;
  right: 0px;
  width: 40%;
  padding: 5px 15px ;
  z-index: -1;
}
.notedisplay{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap:wrap-reverse;
}
.noteitem{
  border-width: 2px;
  margin: 5px 5px ;
  padding: 10px 15px;
  width: 500px;
  /* height: 180px; */
}
.icon{
  position: relative;
  /* left: 400px; */
  margin: 0%;
}
.icon p{
  margin-right: 200px;
  font-weight: 350;
}
.icon i{
  margin: 2px 10px;
  font-size: 20px;
}
.loginpage{
  position: absolute;
  top: 0%;
  width: 100%;
  background-color: #f3f4f8;
  background-image: url("./b2.png");
  /* background-image: url(cloud-network.svg); */
  background-repeat: no-repeat;
  background-position: 700px;
  background-size: 600px;
  z-index: -1;
}
.loginform{
  color: black;
  font-size: 20px;
  font-weight:500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px ;
  padding-top: 25px;
  width: 50%;
  height: 80vh;
  margin: 7% 0px;
}
.loginform h2{
  text-align: center;
}
/* .loginform button{
  width: 30%;
  margin: 30px auto;
  font-size: 20px;
} */
.logbotton{
  margin-left: 60px;
  width: 500px;
}
.logbotton .btn{
  width: 27%;
  height: 35px;
  margin-left: 20px;
  /* font-size: 20px; */
}
.form{
  width: 80%;
  margin: 10px auto;
}
.form input{
  height: 45px;
}
.f1{
  margin: 10px;
}

.signform label,input{
  margin: 3px;
}
.small{
  margin-left: 7px;
}
.header{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;

  width: 100%;
  height: 80%;
  background-color: #f3f4f8;
  background-image: url(./slider.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 80%;
  background-size: 380px;
}
.headcon{
  width: 42%;
  margin: auto 130px;
  margin-top: 100px;
  text-align: left;
}
.headcon h1, .headcon p{
  margin: 35px 0%;
  font-weight: bold;
}
.headcon .btn{
  margin-top: 25px;
  margin-right: 20px;
  width: 180px;
}
.navbar-brand{
  margin-right: 30px;
  margin-left: 20px;
}
/*  */
.service{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 440px;
  display: flex;
  position: relative;
  left: 0%;
  width: 100%;
  height: 200px;
  /* border: 2px solid red; */
  /* background-color: black; */

}
.box{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
  height: 120px;
  margin: 0px 40px;
  background-color: white;
  border: 2px solid rgba(199, 26, 26, 0);
  border-radius: 10px;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.21);
}
.box svg{
  margin-left: 20px;
  width: 150px;
}
.serline{
  margin-left: 20px;
  margin-top: 15px;
}
.serline h5{
  font-weight: bold;
}


/* .navlogo{
  width: 150px;
  height: 80px;
  background-image: url(logo.png);
  background-position: center;
  background-size: 120px;
  background-repeat: no-repeat;
} */

.navbar-nav{
  margin-left: 50px;
  font-size: 18px;
}

/* about css */
.header-about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -48px;
  height: 28%;
  width: 100%;
  background-color: #f3f4f8;
  text-align: center;
  padding: 50px;
}
.header-about h1{
  font-weight: bold;
}
.logbtn{
  margin-top: 20px;
}
.logbtn form .btn {
  width: 150px;
  margin-left: 10px;
}

.about-main{
  position: relative;
  top: -48px;
  height: 60%;
  width: 100%;
  height: 500px;
  /* background-color: #0c2176; */
  background-image: url(./about.png);
  background-repeat: no-repeat;
  background-position: 200px;
  background-size: 350px;
}
.about-content{
  /* margin-top: 10px; */
  padding-top: 70px;
  position: inherit;
  left: 630px;
  width: 43%;
}
.about-content h2{
  font-weight: bold;
}
.about-content p{
  width: 90%;
  margin: 35px 0px;
}
.about-list{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: -50px;
}
.about-list li{
  list-style-type: none;
  margin-bottom: 25px;
}
.about-list li::before{
  content: '✓';
  margin: 20px;
  font-weight: bold;
}

.team{
  position: relative;
  top: -43px;
  height: 450px;
  width: 100%;
  background-color:#f3f4f8;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.21);
}
.team h2{
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}
.team-mem{
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.team-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 40px;
  height: 250px;
  width: 250px;
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0);
  border-radius: 12px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.21);
}
.team-box svg{
  width: 160px;
  height: 160px;
  border: 2px solid #1f4b81ea;
  border-radius: 80px;
  fill: #1f4b81ea;
}

/* navbar user profile */

.profile svg{
  width: 45px;
  height: 45px;
  fill: rgb(72, 97, 188);
  border: 2px solid white;
  border-radius: 22.5px;
}